.trade-category {
  font-size: 22px;
  line-height: 38px;
}

.trade-item {
  padding-left: 20px;
}

#trade-table h1 {
  font-size: 58px;
  line-height: 52px;
}

li {
  margin-top: 9px;
  font-family: Palatino Linotype;
}